@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}

:root {
  --color-primary: #5b2386;
  --color-secondary: #f5df4d;
  --color-text: #fff;
  --color-placeholder: #babcbe;
  --color-bg: #5b2386;
}

/* 웹 접근성을 고려한 대체 텍스트 처리 */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "GmarketSansMedium", sans-serif;
  font-size: 1.4rem;
}

strong {
  font-family: "GmarketSansBold", sans-serif;
}

/* Chrome, Safari, Edge, Opera용 스피너 숨기기 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox용 스피너 숨기기 */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.orange {
  filter: brightness(0) saturate(100%) invert(60%) sepia(94%) saturate(1000%)
    hue-rotate(360deg) brightness(100%) contrast(95%);
}

/* 모바일 버전 */
.container {
  width: calc(100% - 30px);
  margin: 3.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

header {
  width: 29.7rem;
  height: 18.6rem;
  margin: 0rem 1.65rem;
}

header img {
  width: 27.8rem;
  height: 13rem;
  object-fit: cover;
  margin: 0rem 1rem 3.2rem 0.9rem;
}

header p {
  width: 100%;
  font-family: "OTEnjoystoriesBA", sans-serif;
  font-size: 2.2rem;
  color: var(--color-secondary);
  text-align: center;
}

main {
  width: 33.2rem;
  height: 58.4rem;
}

.intro {
  width: 100%;
  position: relative;
  margin-bottom: 6rem;
}

.intro img {
  aspect-ratio: 332/68;
  object-fit: contain;
  width: 100%;
  vertical-align: middle;
}

.intro .intro-desc {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: calc(100% - 4rem);
  text-align: center;
  vertical-align: middle;
  line-height: 2.7rem;
}

.calculator {
  width: 100%;
}

form {
  width: 100%;
  text-align: center;
  margin: 0 0.55em;
  position: relative;
}

p input {
  width: 15.6rem;
  height: 3.8rem;
  border-style: none;
  border-radius: 0.8rem;
  text-align: center;
}

p input::placeholder {
  text-align: center;
  color: var(--color-placeholder);
  font-size: 1.4rem;
  font-family: "GmarketSansMedium", sans-serif;
}

/* 인풋창 좌우 여백 */
.txt-wrap input {
  margin: 0 0.8rem;
}

.txt-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2.4rem;
}

.txt-wrap-break {
  margin-top: 1rem;
  flex-wrap: wrap; /* 공간 부족 시 줄바꿈 허용 */
}

.txt-wrap-break label {
  width: 100%; /* 가로를 꽉 채워서... */
  text-align: center; /* 가운데 정렬하고... */
  margin-bottom: 1rem; /* 아래 인풋을 다음 줄로 밀어버림! */
}

.submit-btn {
  position: relative;
  display: inline-block;
  margin: 5rem 3.95rem;
}

.submit-btn input {
  width: 24rem;
  height: 7.2rem;
  padding: 2rem 3.6rem;
  border-style: none;
  border-radius: 1.2rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-size: 1.4rem;
  font-family: "GmarketSansBold", sans-serif;
  white-space: normal;
  word-break: keep-all;
  line-height: 1.8rem;
  cursor: pointer;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.15);
}

.submit-btn::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  right: -4rem;
  width: 4.2rem;
  height: 4.8rem;
  display: block;
  background: url("../img/click.png") no-repeat center / cover;
}

.result {
  font-size: 1.2rem;
  gap: 1.6rem;
  text-align: center;
  margin-bottom: 6rem;
}

.result p:nth-child(2) {
  margin-top: 1.2rem;
}

.result .strong {
  vertical-align: middle;
}

.strong {
  font-family: "GmarketSansBold", sans-serif;
  font-size: 2.4rem;
  margin: 0rem 1.2rem;
}

.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.train-btn,
.share-btn {
  padding: 1.6rem, 2.4rem;
}

.action-btn .train-btn {
  border-radius: 1.2rem;
  width: 20.3rem;
  height: 4.6rem;
  font-family: "GmarketSansBold", sans-serif;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-style: none;
  cursor: pointer;
}

.action-btn .share-btn {
  border-radius: 1.2rem;
  width: 10.2rem;
  height: 4.6rem;
  font-family: "GmarketSansBold", sans-serif;
  color: var(--color-primary);
  border-style: none;
  cursor: pointer;
}

footer {
  text-align: center;
  margin: 0 3.45rem;
}

footer img {
  margin: 0rem 6.8rem 1.2rem;
}

footer .copyright {
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.9rem;
  white-space: nowrap;
  line-height: 1.2rem;
}

.fighting-modal {
  width: 33rem;
  height: 50rem;
  background-color: var(--color-text);
  border-style: none;
  border-radius: 2rem;
  box-shadow: 0.4rem 0.4rem 3rem rgba(0, 0, 0, 0.15);
  padding: 4rem;
}

.fighting-modal p {
  font-family: "OTEnjoystoriesBA", sans-serif;
  color: var(--color-primary);
  text-align: center;
}

.fighting-modal p:nth-child(2) {
  font-size: 6.4rem;
}

.fighting-modal p:nth-child(3) {
  font-size: 3.2rem;
}

.fighting-modal img {
  width: 24rem;
  height: 18.8rem;
  margin: 2.4rem 0.55rem;
}

.fighting-modal button {
  width: 25.1rem;
  height: 7.2rem;
  padding: 2rem 5rem;
  border-style: none;
  border-radius: 1.2rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-size: 1.4rem;
  font-family: "GmarketSansBold", sans-serif;
  white-space: nowrap;
  word-break: keep-all;
  line-height: 1.8rem;
  cursor: pointer;
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.15);
}

.result.hidden {
  display: none;
}

/* 데스크탑 버전 (769px 이상) */
@media screen and (min-width: 769px) {
  .container {
    width: calc(100% - 1148px);
    margin: 8rem auto;
    gap: 16rem;
  }

  header {
    width: 56.4rem;
    height: auto;
    margin: 0rem 10.35rem;
  }

  header img {
    width: 56.4rem;
    height: 26.5rem;
    margin: 0rem 0rem 2.4rem 0rem;
  }

  header p {
    font-size: 3.6rem;
  }

  main {
    width: 77.9rem;
    height: auto;
  }

  .intro {
    margin-bottom: 12rem;
  }

  .intro img {
    display: block; /* 가운데 정렬을 위해 블록 요소로 변경 */
    width: 48.5rem;
    height: auto; /* 비율 깨짐 방지 */
    margin: 0 auto; /* 좌우 중앙 정렬 */
  }

  .intro .intro-desc {
    width: calc(100% - 5.6rem);
    font-size: 1.8rem;
  }

  strong {
    font-size: 2.4rem;
  }

  form {
    font-size: 2.4rem;
    margin: 0;
  }

  /* 인풋창 크기 및 간격 확대 */
  p input {
    width: 22.8rem;
    height: 5.6rem;
    font-size: 2.4rem;
  }

  p input::placeholder {
    font-size: 2.4rem;
  }

  .txt-wrap input {
    margin: 0 2rem; /* 좌우 간격 넓힘 */
  }

  .txt-wrap {
    line-height: 5.2rem;
  }

  /* 두 번째 줄: 모바일에서 꺾였던(wrap) 것을 한 줄(nowrap)로 펴기 */
  .txt-wrap-break {
    flex-wrap: nowrap;
    margin-top: 2rem;
  }

  /* 라벨 초기화: 모바일에서 width: 100%였던 것을 글자 크기만큼(auto)으로 변경 */
  .txt-wrap-break label {
    width: auto;
    text-align: left;
    margin-bottom: 0;
  }

  /* 4. 결과 확인 버튼 (노란 버튼) 확대 */
  .submit-btn {
    margin: 10rem 10.2rem;
  }

  .submit-btn input {
    width: 56.7rem;
    height: 6.4rem;
    font-size: 2.4rem;
  }

  .submit-btn::after {
    bottom: -1.5rem;
    right: -7rem;
    width: 6.4rem;
    height: 7.2rem;
  }

  /* 5. 결과 텍스트 확대 */
  .result {
    font-size: 2.4rem;
    gap: 2rem;
    margin-bottom: 12rem;
  }

  .strong {
    font-size: 7.2rem;
    vertical-align: sub; /* 텍스트 라인 맞춤 */
  }

  /* 6. 하단 버튼 확대 */
  .action-btn {
    gap: 1.2rem;
  }

  .train-btn,
  .share-btn {
    padding: 2rem, 5rem;
  }

  .action-btn .train-btn {
    width: 36.5rem;
    height: 6.4rem;
    font-size: 2.4rem;
  }

  .action-btn .share-btn {
    width: 19.3rem;
    height: 6.4rem;
    font-size: 2.4rem;
  }

  /* 7. 푸터 & 모달 */
  footer {
    margin: 0rem 20.3rem;
  }
  footer img {
    margin: 0rem 9rem 2rem;
  }

  footer .copyright {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  .fighting-modal {
    width: 80rem;
    height: 80rem;
    padding: 8.2rem 14.6rem;
  }

  .fighting-modal p:nth-child(2) {
    font-size: 9.6rem;
  }

  .fighting-modal p:nth-child(2)::after {
    content: "♥♥♥";
  }

  .fighting-modal p:nth-child(3) {
    font-size: 3.6rem;
  }

  .fighting-modal img {
    width: 43.8rem;
    height: 34.2rem;
    margin: 4rem 3.5em;
  }

  .fighting-modal button br {
    display: none; /* 줄바꿈 태그 숨김 */
  }

  .fighting-modal button {
    width: 50.8rem;
    height: 6.4rem;
    white-space: nowrap; /* 텍스트 한 줄 처리 */
    font-size: 2.4rem;
  }
}
