@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}

:root {
  --color-primary: #5b2386;
  --color-secondary: #f5df4d;
  --color-text: #fff;
  --color-placeholder: #babcbe;
  --color-bg: #5b2386;
}

/* 웹 접근성을 고려한 대체 텍스트 처리 */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "GmarketSansMedium", sans-serif;
  font-size: 1.4rem;
}

.strong {
  font-size: 2rem;
  font-weight: 1000;
}

/* 모바일 버전 */
.container {
  width: calc(100% - 30px);
  margin: 3.4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

header {
  width: 29.8rem;
  height: 19rem;
  margin: 0rem 1.6rem 7rem 1.6rem;
}

header img {
  width: 100%;
  aspect-ratio: 278 / 130;
  object-fit: cover;
  margin: 0rem 1rem 3.6rem 1rem;
}

header h2 {
  font-family: "OTEnjoystoriesBA", sans-serif;
  font-size: 2.2rem;
  color: var(--color-secondary);
}

main {
  height: 58.4rem;
}

.intro {
  aspect-ratio: 330/68;
  width: 100%;
  position: relative;
}

.intro img {
  width: 100%;
  vertical-align: middle;
}

.intro p {
  position: absolute;
  top: -20%;
  width: 100%;
  text-align: center;
  line-height: 2.6rem;
}
