@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}

:root {
  --color-primary: #5b2386;
  --color-secondary: #f5df4d;
  --color-text: #fff;
  --color-placeholder: #babcbe;
  --color-bg: #5b2386;
}

/* 웹 접근성을 고려한 대체 텍스트 처리 */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "GmarketSansMedium", sans-serif;
  font-size: 1.4rem;
}

/* 모바일 버전 */
.container {
  width: calc(100% - 30px);
  margin: 3.4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

strong {
  font-family: "GmarketSansBold", sans-serif;
}

header {
  width: 29.8rem;
  height: 19rem;
  margin: 0rem 1.6rem;
}

header img {
  width: 100%;
  aspect-ratio: 278 / 130;
  object-fit: cover;
  margin: 0rem 1rem 3.6rem 1rem;
}

header h2 {
  font-family: "OTEnjoystoriesBA", sans-serif;
  font-size: 2.2rem;
  color: var(--color-secondary);
}

main {
  width: 33rem;
  height: 58.4rem;
}

.intro {
  aspect-ratio: 330/68;
  width: 100%;
  position: relative;
  margin-bottom: 5rem;
}

.intro img {
  width: 100%;
  vertical-align: middle;
}

.intro p {
  position: absolute;
  top: -20%;
  width: 100%;
  text-align: center;
  line-height: 3rem;
}

form {
  width: 100%;
  text-align: center;
  margin: 0 0.6em;
  position: relative;
}

p input {
  width: 15.6rem;
  height: 3.8rem;
  border-style: none;
  border-radius: 0.8rem;
  text-align: center;
}

p input::placeholder {
  text-align: center;
  color: var(--color-placeholder);
  font-size: 1.4rem;
  font-family: "GmarketSansMedium", sans-serif;
}

.txt-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 3.8rem;
}

/* 인풋창 좌우 여백 */
.txt-wrap input {
  margin: 0 0.8rem;
}

.txt-wrap-break {
  margin-top: 1rem;
  flex-wrap: wrap; /* 공간 부족 시 줄바꿈 허용 */
}

.txt-wrap-break label {
  width: 100%; /* 가로를 꽉 채워서... */
  text-align: center; /* 가운데 정렬하고... */
  margin-bottom: 1rem; /* 아래 인풋을 다음 줄로 밀어버림! */
}

.submit-btn {
  position: relative;
  display: inline-block;
  margin: 5rem 3.5rem 5rem;
}

.submit-btn input {
  width: 24rem;
  height: 7.2rem;
  border-style: none;
  border-radius: 1.2rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-size: 1.4rem;
  font-family: "GmarketSansBold", sans-serif;
  white-space: normal;
  word-break: keep-all;
  line-height: auto;
  cursor: pointer;
}

.submit-btn::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  right: -4rem;
  width: 4.2rem;
  height: 4.8rem;
  display: block;
  background: url("../img/click.png") no-repeat center / cover;
}

.result {
  font-size: 1.2rem;
  line-height: 2.8rem;
  text-align: center;
  margin-bottom: 6rem;
}

.result p {
  margin-bottom: 0.6rem;
}

.result .strong {
  vertical-align: middle;
}

.strong {
  font-family: "GmarketSansBold", sans-serif;
  font-size: 2.4rem;
  margin: 0rem 1.2rem;
}

.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.action-btn .train-btn {
  border-radius: 1.2rem;
  width: 20.4rem;
  height: 4.6rem;
  font-family: "GmarketSansBold", sans-serif;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-style: none;
  cursor: pointer;
}

.action-btn .share-btn {
  border-radius: 1.2rem;
  width: 10.2rem;
  height: 4.6rem;
  font-family: "GmarketSansBold", sans-serif;
  color: var(--color-primary);
  border-style: none;
  cursor: pointer;
}

footer {
  margin: 0 3.4rem;
}

footer img {
  margin: 0rem 6.8rem 1.2rem;
}

footer .copyright {
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.9rem;
  white-space: nowrap;
}

.fighting-modal {
  width: 33rem;
  height: 50rem;
  background-color: var(--color-text);
  border-style: none;
  border-radius: 2rem;
  box-shadow: 0.4rem 0.4rem 3rem rgba(0, 0, 0, 0.15);
  padding: 4rem;
}

.fighting-modal p {
  font-family: "OTEnjoystoriesBA", sans-serif;
  color: var(--color-primary);
  text-align: center;
}

.fighting-modal p:nth-child(1) {
  font-size: 6.4rem;
}

.fighting-modal p:nth-child(2) {
  font-size: 3.2rem;
}

.fighting-modal img {
  width: 100%;
  aspect-ratio: 250 / 188;
  object-fit: cover;
  margin-top: 3.8rem;
  z-index: 0;
}

.fighting-modal button {
  width: 25rem;
  height: 7.2rem;
  border-style: none;
  border-radius: 1.2rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-size: 1.4rem;
  font-family: "GmarketSansBold", sans-serif;
  white-space: normal;
  word-break: keep-all;
  line-height: auto;
  cursor: pointer;
  z-index: 1;
  transform: translate(0, -4rem);
}
